.form-embed {
  max-width: 900px;
  margin: 2rem auto 0 auto;
  padding: 0 1rem;
}

.form-embed iframe {
  width: 100%;
  height: 900px;
  border: 0;
}

@media (max-width: 600px) {
  .form-embed iframe {
    height: 1100px;
  }
}